<p id="notice"><%= notice %></p>

<div class="row">
<%= render @pictures %>
</div>

<!--
<h1>Listing Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photographer</th>
      <th>Description</th>
      <th>Price1</th>
      <th>Price2</th>
      <th>Price3</th>
      <th>Size1</th>
      <th>Size2</th>
      <th>Size3</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td><%= picture.photographer %></td>
        <td><%= picture.description %></td>
        <td><%= picture.price1 %></td>
        <td><%= picture.price2 %></td>
        <td><%= picture.price3 %></td>
        <td><%= picture.size1 %></td>
        <td><%= picture.size2 %></td>
        <td><%= picture.size3 %></td>
        <td><%= picture.availability %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->

<br>
<% if current_user.try(:admin?) %>
  <%= link_to 'New Picture', new_picture_path %>
<% end %>
